@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: 0;
}

#fundo{
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#celular{
    max-height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes{
    position: absolute;
    right: 35px;
    top: 10px;
    transform: translate(20%,1%);
}

.logos{
    width: 55px;
    border-radius: 150px;
    display: block;
    margin-top: 20px;
}

.logos:hover{
    width: 57px;
}

#tela{
    max-height: 50%;
    max-width: 50%;
    position: fixed;
    border: 1px solid red;
}

iframe{
    width: 500px;
    height: 200px;
}